.u-section-1 .u-sheet-1 {
  min-height: 69px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 518px;
}

.u-section-2 .u-text-1 {
  margin: 30px 216px 0 244px;
}

.u-section-2 .u-custom-html-1 {
  margin: 30px 216px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 680px;
    margin-left: 144px;
    margin-right: 116px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 116px;
    margin-left: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 34px;
    margin-right: 6px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 6px;
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 380px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 361px;
  }
}