.u-section-1 .u-sheet-1 {
  min-height: 1046px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 50px 323px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 701px;
  min-height: 626px;
  height: auto;
  margin: 7px 60px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 26px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-1 .u-image-1 {
  width: 238px;
  height: 238px;
  margin: -462px auto 60px 91px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 221px;
  }

  .u-section-1 .u-group-1 {
    width: 596px;
    min-height: 611px;
    margin-top: 19px;
    margin-right: 17px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -424px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 94px;
    margin-right: 157px;
  }

  .u-section-1 .u-group-1 {
    width: 454px;
    min-height: 803px;
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -800px;
    margin-left: -19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 253px;
    margin-right: auto;
    margin-left: 187px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -39px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 198px;
    height: 198px;
    margin-top: -1029px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1558px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 248px;
    margin-left: 118px;
  }

  .u-section-1 .u-group-1 {
    width: 383px;
    min-height: 998px;
    margin-top: 7px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: -1330px;
  }
}